<li id="report-<%= report.id %>">
  <%= link_to gravatar_for(report.user, size: 50), report.user %>
  <span class="user"><%= link_to report.user.name, report.user %></span>
  <span class="title"><%= link_to report.title, report %>    (<%= report.artist %>)</span>
  <span class="timestamp">
    <%= time_ago_in_words(report.created_at)+"前" %> 
    <% if current_user == report.user %>
    
     <%= link_to "削除する", report, method: :delete,
                                       data: { confirm: "削除してもよろしいですか？" } %>
    <% end %>
  </span>
</li>
