<div class="row">
  <aside class="col-md-8">
    <h1>レポート検索</h1>
    <section class="user_info">
<%= search_form_for @q do |f| %>

  <%= f.label :title_cont, "曲名検索" %>
  <%= f.search_field :title_cont %>

 
  <%= f.label :artist_cont, "アーティスト/作曲家検索" %>
  <%= f.search_field :artist_cont %>

  
  <%= f.label :content_or_artist_or_title_cont, "曲名・作曲家・レポート内容全てから検索" %>
  <%= f.search_field :content_or_artist_or_title_cont %>

  <%= f.submit "検索する！", class: "btn btn-primary" %>
<% end %>
<table class="company">
    <tbody>
      <tr>
        <th>タイトル</th>
        <th>アーティスト/作曲家</th>
        <th>レポート日時</th>
      </tr>
    </tbody>
</table>

    <% @reports.each do |r| %>

<table class="company">
    <tbody>
      <tr>
       <td><%= link_to r.title, r %></td>
       <td><%= r.artist %></td>
       <td><%= time_ago_in_words(r.created_at)+"前" %> </td>
        <% end %>
      </tr>
    </tbody>
</table>
    </section>
  </aside>
  </div>
</div>

