<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
<%= search_form_for @q do |f| %>

  <%= f.label :title_cont %>
  <%= f.search_field :title_cont %>

 
  <%= f.label :artist_cont %>
  <%= f.search_field :artist_cont %>

  
  <%= f.label :content_or_artist_or_title_cont %>
  <%= f.search_field :content_or_artist_or_title_cont %>

  <%= f.submit %>
<% end %>
    <% @reports.each do |r| %>
       <%= link_to r.title, r %> | <%= r.artist %>| <%= simple_format(r.content) %> <br>
    <% end %>
    </section>
  </aside>
  </div>
</div>


