<h1><%= @report.title %> | <%= @report.artist %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <br><%= link_to "レポートを編集する", edit_report_path(@report), method: "get", class: "btn btn-primary" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "レポートを削除する", @report, method: "delete", class: "btn btn-primary", 
                                       data: { confirm: "削除してよろしいですか？" } %> </br>
<table class="company">
    <tbody>
        <tr>
            <th class="arrow_box">タイトル</div></th>
            <td><%= @report.title %></td>
        </tr>
        <tr>
            <th class="arrow_box"><br>アーティスト</br>作曲家</th>
            <td><%= @report.artist %></td>
        </tr>
        <tr>
            <th>感想・コツなど</th>
            <td><%= simple_format(@report.content) %></td>
        </tr>
        
    </tbody>
</table>

</div>
</div>
